<% include ../partials/header %>
<div class="container">
   <div class="row">
    <div class="col-md-3">
      <h2><%= user.firstName + " " + user.lastName %></h2>
      <div class="thumbnail" id="profile">
        <img src="<%= user.avatar %>" alt="user profile image">
        <div class="caption"><a href="mailto:<%= user.email %>"><%= user.email %></a></div>
      </div>
      <% if( currentUser && user._id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
        <a href="/user/<%= user._id%>/edit">Edit Profile</a>
        <% } %>
    </div>
    <div class="col-md-9">
        <h3><%= user.username %>'s campgrounds</h3>
        <% camps.forEach(campground => { %>
          <div class="col-md-4 col-sm-6">
            <div class="thumbnail">
              <img src="<%= campground.image %>" alt="<%= campground.name %>">
              
              <div class="caption">
                <h4 class="caption"><a href="/campgrounds/<%= campground.id %>"><%= campground.name %></a></h4>
              </div>
              </div>
          </div>
        <% }); %>
    </div>
  
  </div>
    
</div>
<% include ../partials/footer %>